@import './define/_constant.scss';
.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 1;
}

.btn:disabled {
    opacity: 0.5 !important;
}

.btn.btn-lg {
    padding: 15px 32px;
}

.btn.btn-sm {
    padding: 10px 20px;
}

.btn.btn-xs {
    padding: 5px 10px;
    font-size: 90%;
}

.btn.btn-blue {
    background-color: $COLOR-BLUE;
    background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);

}

.btn.btn-link {
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
    color: $COLOR-BLUE;
}

.btn.btn-red {
    background-color: $COLOR-RED;
    background-image: linear-gradient(to bottom, #e9475e 0, #b61d43 100%);
}

.btn.btn-green{
    background-color: #4CAF50;
    background-image: linear-gradient(to bottom, #60e347 0, #339F37 100%);

}

.btn-group-vertical {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
  }