@import './define/_constant.scss';

.form-field{
    text-align: left;
    margin-bottom: 15px;
    .ff-flex{
      display: flex;
      align-items: center;
      //justify-content: space-between;
    }

    .ff-label{
        flex-grow: 1;
        color:$COLOR-BLUE;
        margin-right: 10px;
        max-width: 125px;
        text-align: right;
    }

    // .ff-label.empty{
    //     margin-right: 35px;
    // }

    .ff-item{
        flex-grow: 1;
        height: 25px;
        input,select{
            width: 100%;
            height: 100%;
            border: solid 1px gray;
            border-radius: 5px;
            padding: 0px 5px;
        }

        input:required, select:required{
            background: $COLOR-RED-LIGHT;
            border: 1px $COLOR-RED-DARK solid;
        }

        input:disabled, select:disabled{
            background: $COLOR-GRAY-LIGHT;
            border: 1px gray solid;
            color: #3f3f3f;
        }

        input:focus, select:focus{
            border: 2px $COLOR-BLUE solid;
            box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.4);
        }

        .ff-error{
            text-align: left;
            margin-top:3px;
            color:$COLOR-RED;
            font-size: 85%;
        }

        .radiobox-container,.checkbox-container{
            input{
                margin: 0;
                margin-right: 10px;
                width: auto;
            }
            height: 25px;
            display: flex;
        }

        .ffDisabled{
            color:#3f3f3f;
        }
    }

    .ff-item.lg{
        height: 40px;
        input,select{
            font-size: 20px;
        }
    }

    .ff-item.auto-height{
        height: auto;
    }

   
  }

  .form-field.error{
    margin-bottom: 28px;
  }