@import './define/_constant.scss';

$BORDER-RADIUS : 15px;
.app-row{ 
    display: flex;
    align-items: flex-start;
}
.app-col-left{
    margin-right: 7px;
    width: 100%;
}

.app-col-right{
    margin-left: 7px;
    width: 100%;
}

.group-box{
    overflow: hidden;
    width: 100%;
    
    margin: 14px 0px;
    border: $COLOR-BLUE solid 1px;
    border-radius: $BORDER-RADIUS;

    .gb-title{
        padding: 10px;
        color:white;
        background: $COLOR-BLUE;
        text-align: left;
        margin-bottom: 15px;
    }

    .gb-content{
        padding: 15px;
    }
}