@import './define/_constant';
.list-table {
    margin: 3px 0px;
    overflow-x: auto;
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid $COLOR-BLUE-DARK;
    }
    thead tr {
        background: $COLOR-BLUE-DARK;
        color: white;
    }
    th,
    td {
        font-weight: normal;
        text-align: left;
        padding: 4px 8px;
    }
    tr{
        background-color: white;
    }
    tr:nth-child(even) {
        background-color: #dce5e8;
    }
}