@import './define/_constant';
.list-table {
    margin: 3px 0px;
    overflow-x: auto;
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid $FF_BLUE_BACK;
    }
    thead tr {
        background: $FF_BLUE_BACK;
        color: $FF_BLUE_TEXT;
    }
    th,
    td {
        font-weight: normal;
        text-align: left;
        padding: 4px 8px;
    }
    tr{
        background-color: white;
    }
    tr:nth-child(even) {
        background-color: #dce5e8;
    }

    tbody tr.clickable:hover{
        cursor: pointer;
        background: $FF_BLUE_BACK;
        color: $FF_BLUE_TEXT;
    }
}