$ORANGE:#f5871f;
$DEFAULT-BACK: rgba(102,102,102,1);

.jpn-nav-bar {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: solid 4px $ORANGE;
  
    .jnv-item {
      // general
      padding: 10px;
      border-radius: 3px 3px 0px 0px;
      margin-right: 3px;
      border: $DEFAULT-BACK solid 1px;
      cursor: pointer;
  
      // color for normal
      color: white;
      background-color: $DEFAULT-BACK;
    }

    .jnv-item:last-of-type{
        margin-right: 0;
    }
    
    .jnv-item:hover{
        background-color: black;
    }
  
    .jnv-item.active:hover,
    .jnv-item.active{
      color: white;
      border-color: $ORANGE;
      background-color: $ORANGE;
    }
  
    .jnv-item[disabled="disabled"],
    .jnv-item[disabled="disabled"]:hover {
      cursor: not-allowed;
      //background-color: #8f8f8f;
      //border-color: #545454;
      background-color: $DEFAULT-BACK;
      color:#999;
    }
  }