/* Color */

$COLOR-RED-LIGHT: #FFE4E5;
$COLOR-RED: #EF272F;
$COLOR-RED-DARK: #82180d;
$COLOR-BLUE-LIGHT: #41a3fc;
$COLOR-BLUE: #0154A1;
$COLOR-BLUE-DARK: #031533;
$COLOR-GRAY-LIGHT: #e9e9e9;
$COLOR-YELLOW: #FADA0C;

// color yg jpn nak
$FF_BLUE_BACK : rgb(216,237,247);
$FF_BLUE_TEXT : rgb(49,112,155);
$FF_BLUE_BORDER : #ccc;

$COLOR-GREEN: rgb(66, 163, 10);
/* Dimension */

$HEADER-HEIGHT: 75px;
$LEFT-WIDTH: 300px;